.hero-image {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .signup-button {
        width: 20%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 600px) {
    .hero-image {
        width: 100%;
    }
    .signup-button {
        width: 40%;
        margin: 0 auto;
    }
}