#supportWrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

#supportHero {
    background-color: #387ed1;
    color:white;
}
#supportHero a{
    color:white;
}
#supportHero input{
    padding: 20px 50px;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

